src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="getPatientByID" doc:id="a9749551-b889-4068-ba04-cf811ade9d02" >
		<salesforce:query doc:name="Query" doc:id="7751c0aa-5011-4dbc-9b0b-fcfd37dba59d" config-ref="Salesforce_Config">
			<salesforce:salesforce-query ><![CDATA[select Name, Phone from Account where pid__c=':id']]></salesforce:salesforce-query>
			<salesforce:parameters ><![CDATA[#[output application/java
---
{
	id : attributes.uriParams.id
}]]]></salesforce:parameters>
		</salesforce:query>
		<ee:transform doc:name="Transform Message" doc:id="dc959b8d-0e17-494d-81a1-147fc6b78aa4" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	name: payload.Name,
	phone: payload.Phone
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="updateData" doc:id="3fa6ebd0-f6f5-46de-a9cb-34beb49914a3" >
		<ee:transform doc:name="json to java" doc:id="03b09a8e-d9d8-4514-a6d7-68d5fa4482bf" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
[{
 pid__c: payload.id,
    Name: payload.name[0].use,
    BillingCity: payload.address[0].city,
    BillingState: payload.address[0].state,
    BillingPostalCode: payload.address[0].postalCode,
    Phone: payload.telecom[0].value
}]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:upsert doc:name="Upsert" doc:id="c2cabadb-419d-460f-b897-3ccf0e2ea3d8" objectType="Account" externalIdFieldName="pid__c" config-ref="Salesforce_Config"/>
		<ee:transform doc:name="Transform Message" doc:id="8dd18e81-b795-4077-960f-48dcfd034352" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---

payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
